# TODO: upgrade to ESLint 9 + flat config (eslint.config.js) to remove the need
# for these hoist patterns. ESLint 8 resolves parsers/plugins from the consumer's
# node_modules, requiring hoisting in pnpm monorepos.
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*@typescript-eslint*
